<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="jibbr:host" value="http://localhost:16207/"/>
		<add key="jibbr:username" value="JibbR"/>
		<add key="jibbr:password" value="password"/>

		<add key="owin:SetCurrentDirectory" value="true" />
		<add key="owin:HandleAllRequests" value="true" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>